<div class="main2cols clearfix">
	<div class="maincol">
		<div id="producthome">
			<div class="h2 small">Let us show you something...</div>
			<div class="product-title-container">
				<h2 class="product-title">Victorian Red</h2>
				<div class="product-design">- designed by <strong>Jositajosi</strong></div>
			</div>

			<div class="product-info">
				<div class="product-main-info">
					<div class="product-category">
						<div class="item-category">Macbook SLEEVE</div>
						<div class="product-category-corner"></div>
					</div>
					<div class="product-image"><img src="/files/shops/random_number/products/arbor_draft_medium.jpg" alt="{{product.title | escape }}" /></div>
					<div class="product-price">PRICE: <strong>$49</strong></div>
				</div>		
				<div class="product-description">There's something imperial in you and we know it.</div>
			</div> <!-- /.producto-info -->	
			<div class="product-bottom-info clearfix">
				<div class="product-brief brief-computer-13">Specially made for Macbook 13&quot;</div>	
				<a class="button" id="product-add-to-cart" href="#">ADD TO CART</a>
			</div>
		</div> <!-- /#producthome -->
	</div> <!-- /.maincol -->
	
	<div class="sidecol">
		<div class="product-related">
			<div class="h2 x-small">and what about this?</div>
			<ul>
				<li class="clearfix">
					<h4><a href="#">Winter in Oxford</a></h4>
					<a href="#" class="category-thumb computer">Macbook Sleeves</a>
					<div class="thumb-medium"><a href="#"><img src="/files/shops/random_number/products/arbor_draft_medium.jpg" alt="Producto title" /></a></div>
					<div class="price">
						PRICE: <strong>$25</strong>
						<div class="add-cart"><a href="#" class="button">ADD TO CART</a></div>
					</div>
				</li>	
				<li class="clearfix">
					<h4><a href="#">Winter in Oxford</a></h4>
					<a href="#" class="category-thumb computer">Macbook Sleeves</a>
					<div class="thumb-medium"><a href="#"><img src="/files/shops/random_number/products/arbor_draft_medium.jpg" alt="Producto title" /></a></div>
					<div class="price">
						PRICE: <strong>$25</strong>
						<div class="add-cart"><a href="#" class="button">ADD TO CART</a></div>
					</div>
				</li>	
				<li class="clearfix">
					<h4><a href="#">Winter in Oxford</a></h4>
					<a href="#" class="category-thumb computer">Macbook Sleeves</a>
					<div class="thumb-medium"><a href="#"><img src="/files/shops/random_number/products/arbor_draft_medium.jpg" alt="Producto title" /></a></div>
					<div class="price">
						PRICE: <strong>$25</strong>
						<div class="add-cart"><a href="#" class="button">ADD TO CART</a></div>
					</div>
				</li>	
			</ul>	
		</div>
			
	</div> <!-- /.sidecol -->		
</div> <!-- /.main2cols -->

<br />

<div id="home-3-blocks" class="clearfix">
	<ul>
		<li id="block-eco">
			<div class="box-30">
				<div class="h2 x-small">We love our planet</div>
				<p>...and we are eco-friendly. Our labels and dyes don't use pentaclorophenol.</p>
			</div>
			<div class="box-30-bottom"></div>
		</li>
		<li id="block-shipping">
			<div class="box-30">
				<div class="h2 x-small">Safe &amp; Warm</div>
				<p>We ship to almost to every country in the world. From Iceland to Tuvalu.</p>
				<p>You can safely pay with <strong>Paypal</strong> or <strong>credit card</strong>.</p>
				<img src="{{ 'logo-paypal.gif' | asset_url }}" alt="PayPal" />
				<img src="{{ 'logo-mastercard.gif' | asset_url }}" alt="Mastercard" />
				<img src="{{ 'logo-visa.gif' | asset_url }}" alt="Visa" />
				<img src="{{ 'logo-amex.gif' | asset_url }}" alt="American Express" />

			</div>
			<div class="box-30-bottom"></div>
		</li>
		<li id="block-bulletin">
			<div class="box-30">
				<div class="h2 x-small">Be the first to know</div>
				<form name="f_bulletin" id="f_bulletin" action="f_bulletin" method="post">
					<p><label for="email">We have new fabrics and crafting ideas every month. Stay up-to-date joining our newsletter:</label></p>
					<input type="text" name="email" id="email" class="fieldbox" size="20" value="Enter your email address..." />
					<div class="form_actions">
						<input type="submit" name="submit" value="JOIN US" class="button" />
					</div>
				</form>			
			</div>
			<div class="box-30-bottom"></div>
		</li>
	</ul>		
</div>	